<h1>Users</h1>
<input type="search" name="searchUser" id="searchUser" placeholder="Search by id, userId, username, name" style="width: 50%;" (input)="searchUser($event)">
<table style="width: 100%;">
    <thead style="text-align: left; background-color: rgb(96, 96, 93); color: white; font-size: 20px;">
        <tr style="text-align: left;">
            <th>UserId</th>
            <th>Username</th>
            <th>Name</th>
            <th>Age</th>
            <th>#Roles</th>
            <th>#Permissions</th>
            <th>Detail</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of sortUsers">
            <td style="border-bottom: 1px solid rgb(231, 228, 228);">{{ user.userId }}</td>
            <td style="border-bottom: 1px solid rgb(231, 228, 228);">{{ user.username }}</td>
            <td style="border-bottom: 1px solid rgb(231, 228, 228);">{{ user.userProfile.firstName }} {{ user.userProfile.lastName }}</td>
            <td style="border-bottom: 1px solid rgb(231, 228, 228);">{{ user.userProfile.age }}</td>
            <td style="border-bottom: 1px solid rgb(231, 228, 228);">{{ user.userRoleMappings.length }}</td>
            <td style="border-bottom: 1px solid rgb(231, 228, 228);">{{ getPermissionCount(user.userRoleMappings) }}</td>
            <td style="border-bottom: 1px solid rgb(231, 228, 228);">
                <a href="/users/{{user.id}}">view</a>
            </td>
        </tr>
    </tbody>
</table>